.root{
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    select{
        border: 1px solid #e0e0e0;
        padding: 0.5em 2.25em 0.5em 0.8em;
        outline: none;
        font-size: 0.9rem;
        font-family: inherit;
        -moz-appearance: none;
        -webkit-appearance: none;
        background: url('../../assets/expand.svg') #fff no-repeat calc(100% - 0.5em) center;
        background-size: 1.4em;
        border-radius: 0.2em;
        &::-ms-expand {
            display: none;
        }
        &:focus{
            border-color: #42a5f5;
        }
    }
}